boto3==1.11.17
botocore==1.14.17
certifi==2019.11.28
cffi==1.13.2
chardet==3.0.4
click==7.1.2
Flask==1.1.2
idna==2.8
ijson==2.6.1
importlib-metadata==1.6.0
isort==4.3.21
itsdangerous==1.1.0
jedi==0.17.0
Jinja2==2.11.2
jmespath==0.9.5
kiwisolver==1.1.0
lazy-object-proxy==1.4.3
lxml==4.5.0
MarkupSafe==1.1.1
matplotlib==3.2.0
mccabe==0.6.1
more-itertools==8.3.0
mysql-connector-python==8.0.19
mysql-connector-python-rf==2.2.2
mysqlclient==1.4.6
numpy==1.18.1
oscrypto==1.2.0
packaging==20.4
pandas==1.0.1
pandas-datareader==0.8.1
parso==0.7.0
pluggy==0.13.1
protobuf==3.6.1
py==1.8.1
pycodestyle==2.6.0
pycosat==0.6.3
pycparser==2.19
pycryptodomex==3.9.7
pydocstyle==5.0.2
PyJWT==1.7.1
pyOpenSSL==19.1.0
pyparsing==2.4.6
PySocks==1.7.1
pytest==5.4.2
python-dateutil==2.8.1
python-jsonrpc-server==0.3.4
python-language-server==0.32.0
pytz==2019.3
requests==2.22.0
rope==0.17.0
ruamel-yaml==0.15.87
s3transfer==0.3.3
six==1.14.0
snowballstemmer==2.0.0
snowflake-connector-python==2.2.2
soupsieve==2.0
termcolor==1.1.0
toml==0.10.1
tqdm==4.42.1
typed-ast==1.4.1
ujson==1.35
urllib3==1.25.8
wcwidth==0.1.9
Werkzeug==1.0.1
wrapt==1.12.1
yapf==0.30.0
zipp==3.1.0
